#frnregfrm,
.frmgrid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) !important;
}

#frcreg .containers {
    margin: auto;
    padding: 10px;
    max-width: 1024px;
    background: white;
}


#frnregfrm .dbinput input {
    width: 100% !important;
}

#fundfrm>label {
    font-size: large;
    font-weight: bold;
}

#fundfrm input[type="radio"] {
    width: 20px !important;
}

#frcreg {
    margin-top: 80px;
    padding: 15px;
    background-color: white;
    color: black;
}

.formfill>form {
    grid-auto-flow: initial !important;
}

.frmlogo {
    display: none !important;
}

h1 {
    text-align: center;
    font-size: xx-large !important;
    margin-bottom: 10px !important;
    font-weight: bolder !important;
}

.back {
    margin: 10px;
}

.mainback {
    font-weight: bolder;
    text-decoration: underline;
    background-color: ghostwhite;
    padding: 1px 10px;
}

.dbinput>label {
    font-size: initial !important;
}

.dbinput {
    page-break-inside: avoid;
}

@media print {
    footer {
        display: none;
    }

    #frcreg {
        margin-top: 0px;
        padding: 0px;
    }

    .frmlogo {
        display: block !important;
    }

    #logo,
    button,
    header,
    #hd,
    #hd *,
    header,
    #main-nav {
        display: none !important;
    }

    input,
    textarea {
        border-width: 0px;
        border-bottom-width: 2px;
        border-color: black;
    }

    .hdl {
        display: inline-block !important;
    }

    .brk {
        page-break-before: always;
    }
}

.hdl {
    display: none;
}

.brk {
    page-break-before: always;
}