.limenu {
    display: none !important;
}

.image-upload-wrap {
    height: -webkit-fill-available;
    font-size: 6em;
}

#imgpr {
    margin: auto;
}

input[type="number"],
textarea {
    width: 100%;
}

.upl {
    font-size: 22px;
}