.dbinput {
	padding: 0px 10px;
}
#upimg .uid {
	width: 300px !important;
}
#upimg .aadhar {
	width: 300px !important;
}
#upimg .pan {
	width: 300px !important;
}
#upimg .bank {
	width: 300px !important;
}
#upimg .dl {
	width: 300px !important;
}